div {
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom:15px;
}

body {
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3 {
    font-family: Arial;
    font-color: red;
    font-size: 50px;
    position: relative;
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes text {
    16.6% {top: 0px; color: white;}
    32.2% {top: 0px; color: #1E1E1E;}
    49.8% {top: 0px; color: #00FFFB;}
    66.4% {top: 0px; color: white;}
    83% {top: 0px; color: #1E1E1E;}
    100% {top: 0px; color: #00FFFB;}
}
.square {
    height: 70px;
    width: 500px;
    background-color: #555;
    position: centered;
    animation-name: shape;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: fowards;
}
@keyframes shape {
    50% {top: 0px; border-radius: 100px;}
    100% {top: 0px; border-radius: 0px;}
}
.square2 {
    height: 50px;
    width: 500px;
    background-color: #111111;
    position: relative;
    top: 20%;
    bottom: 100%;
    width: 88.5%;
}
.button {
    color: #00FFFB;
    font-family: "Trebuchet MS";
    border-style: inset;
    font-size:80px;
    padding: 1px 10px;
    margin: 200px 20px;
    transition-duration: 0.4s;
    animation-name: button;
    animation-duration: 2.2s;
    animation-timing-function: ease;
}
@keyframes button {
    from {bottom: 20px;}
    to {bottom: 0px;}
}
.button1 {
    cursor: pointer;
    onclick: "AboutMe.html";
}
.button1:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button2 {
    cursor: pointer;
    onclick: "Classes.html";
}
.button2:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button3 {
    cursor: pointer;
    onclick: "CS-II/Essays/Fingerprints.html";
}
.button3:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button4 {
    cursor: pointer;
    onclick: "CS-II/Essays/AI%20Sentience.html";
}
.button4:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}   
.button5 {
    cursor: pointer;
    onclick: "CS-II/Projects/OptimalSorting.html";
}
.button5:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button6 {
    cursor: pointer;
    onclick: "CS-II/Projects/BusinessISP/index.html";
}
.button6:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button7 {
    cursor: pointer;
    onclick: "CS-II/Projects/ISP/index.html";
}
.button7:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button8 {
    cursor: pointer;
    onclick: "CS-II/Essays/DecisionMakingDraft.html";
}
.button8:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
.button9 {
    cursor: pointer;
    onclick: "CS-II/Essays/Decision Making.html";
}
.button9:hover {
    background-color: #5D5D5D;
    color: #10FFFB;
}
h2 {
    color: #10FFFB;
    font-size: 20px;
    font-family: Trebuchet MS;
}
